# IDE files
.idea/
.vs/
.vscode/
**/__pycache__/

# Virtual environment
venv/
Lib/
Scripts/
pip-selfcheck.json
pyvenv.cfg

# Repository files
*.png
images/
!.gitkeep

# Install files
voronoi_compression.egg-info/
